body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 1.4rem;
    border-bottom: 2px solid;
}

h2 {
    margin-top: 0;
    font-size: 1.2rem;
}

.saved {
    & .id {
        border: 1px solid;
        padding: 1rem;
    }

    & ul {
        padding: 0;

        & li {
            margin-bottom: 1rem;
        }
    }
}

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;

    & .action, & .saved {
        width: 50%;
    }
}

.keys {
    & pre {
        border: 1px solid;
        padding: 1rem;
        overflow: scroll;
    }
}

form {
    & input {
        width: 100%;
    }

    & div {
        margin-bottom: 1rem;
    }
}

button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
